* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #7067cf;
  color: white;
}

#list {
  list-style: none;
  width: 6rem;
  margin: 2rem auto;
}

li {
  text-align: center;
  margin-top: 10px;
  background-color: #453bba;
  border-radius: 10px;
  width: 14rem;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6rem auto;
  background-color: #453bba;
  width: 50%;
  height: 6rem;
  border-radius: 10px;
}
